/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#console {
    z-index: 1000;
    position: fixed;
    bottom: 50px;
    width: calc(100% - 100px);
    height: 0px ;
    

    /*margin-bottom: -250px;*/
    overflow-y: auto;
    background: white;
    margin-left: 50px;
    margin-right: 50px; 

    /*padding-left: 0;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#console.toggled{
    height: 200px;
    background-color: white;
}

#console.toggled {
    position:absolute;
    bottom:50px;
}

#console.toggled {
    position:absolute;
    bottom:50px;
}

#consoleList {
    background-color: #white;
    height: 180px;
    
    width: 95%;
}
/*
@media(min-width:768px) {
    #console {
        padding-left: 0;
    }

    #console.toggled {
        padding-left: 250px;
    }

    #console.toggled {
        width: 250px;
    }


    #wrapper.toggled {
        position: relative;
        margin-right: 0;
    }
*/
}